<br>
<div class="uk-container-xsmall uk-position-center uk-alert-danger">
  <p>Ooops, something went wrong... </p>
  <p>Please go back to the <a href="/repos/search">start page</a> to try again</p>
</div>
